@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap");


body{
    font-family:  sans-serif;
    
        



.navbar-expand-lg .navbar-collapse .nav-link {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  color: #fff;
  margin-right: 20px;
  line-height: 1.2;
  font-size: 1rem;
}

.navbar-expand-lg .navbar-collapse .nav-link:hover {
  cursor: pointer;
  color: #999494;
}

a {
  color: #fff;
}

.account-page{
    min-width: 100vw;
    min-height: 100vh;

}

a{
    color: #fff;
}




h6{
    font-size: 12px;
}

