@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap");

body {
  font-family: sans-serif;
}

.all-page-section {
  margin-left: 10px;
  margin-right: 10px;
}
#nav-photo {
  width: 100px;
}
.navbar{
  background-color: black;
}
.navbar-expand-lg .navbar-collapse .nav-link {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  color: #fff;
  margin-right: 20px;
  line-height: 1.2;
  font-size: 1rem;
}

.navbar-expand-lg .navbar-collapse .nav-link:hover {
  cursor: pointer;
  color: #999494;
}

a {
  color: #fff;
}


.account-page {
  min-width: 100vw;
  min-height: 100vh;
}
.search-icon-nav {
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: white;
  margin-right: 15px;
  cursor: pointer;
  opacity: 0.7;
}
.search-icon-nav:hover {
  opacity: 1;
}
.bell-icon-nav {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  cursor: pointer;
  opacity: 0.7;
}
.bell-icon-nav:hover {
  opacity: 1;
}

a{
    color: #fff;
}

hr {
  border-top: 1px solid gray;
  width: 100%;
  margin: 0 auto;
}



h6 {
  font-size: 12px;
}

.p-navbar-kids:hover {
  opacity: 1;
}
.p-navbar-kids {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-image {
  cursor: pointer;
}
#dropdown-nav-elem {
  right: 0px;
}
.footer-hover {
  font-size: 13px;
}
.footer-hover:hover {
  cursor: pointer;
  color: #999494;
}

.footer-logos {
  cursor: pointer;
  color: white;
}
.nav-dropdown-aa {
  right: 0;
}

.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

